<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="New Rule Set" Description=" " ToolsVersion="15.0">
  <Include Path="basiccorrectnessrules.ruleset" Action="Default" />
  <Include Path="basicdesignguidelinerules.ruleset" Action="Default" />
  <Include Path="stylecop.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1121" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SX1309" Action="Warning" />
    <Rule Id="SX1101" Action="Warning" />
  </Rules>
</RuleSet>